<a href="https://colab.research.google.com/github/palomaavena/on35-python-s17-s18-projeto-final/blob/main/projeto_final_paloma_anne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Projeto Final de Análise de Dados**

Desenvolvido por:

Paloma Avena  palomaavena@gmail.com

Anne Ribeiro  anne.asribeiro@gmail.com

**Contexto**
Este projeto consiste na criação de um banco de dados e análise destes dados de desmatamento e CO2 do estado da Bahia nos últimos 5 anos.

**Etapas do projeto:**


1. Selecionar a Base de Dados
2. Definir Objetivo e Perguntas
3. Realizar Análise Exploratória
4. Gerar Base Final
5. Criar Visualizações no Tableau
6. Preparar Apresentação Final

**Bases Escolhidas**

Base 1: MapBiomas Alertas
https://plataforma.alerta.mapbiomas.org/downloads

Base 2: Sistema de Estimativas de Emissões e Remoções de Gases de Efeito Estufa (SEEG)
https://plataforma.seeg.eco.br/?highlight=states-net-emissions-by-sector-goias&_gl=1*1nqir75*_ga*NTI0MDk2MzUwLjE3Mjc1NDQ0NjA.*_ga_XZWSWEJDWQ*MTcyNzU0NDQ2MC4xLjAuMTcyNzU0NDQ2MC4wLjAuMA..

**Objetivo Geral:**

Criar um banco de dados e realizar uma análise dos dados com o objetivo de identificar variáveis de como o desmatamento na Bahia impacta nas taxas de emissão de CO2 ?

**As perguntas norteadoras deste projeto são:**

Como o desmatamento na Bahia impacta as taxas de emissão de CO₂ e qual sua relação com a temperatura dos oceanos?

Qual a taxa de desmatamento nos biomas/municípios da Bahia e como ela evoluiu no período de 2019 a 2022?

Qual a taxa de CO2 nos municípios da Bahia e como ela evoluiu no período de 2019 a 2022?

Existe uma relação entre as áreas desmatadas e o aumento de CO2?

Quais regiões da Bahia apresentam as maiores emissões de carbono derivadas do desmatamento?

Houve alguma alteração no período da Pandemia?

**Ferramentas Utilizadas:**

Banco de dados
Python (Jupyter Notebook): Para a análise exploratória de dados utilizando bibliotecas como Pandas, Seaborn, Matplotlib, etc.
Tableau: Para criar as visualizações finais e apresentar os insights gerados.
GitHub: Para versionamento do projeto e documentação.
Google Colab (opcional): Para execução de notebooks de forma colaborativa e em nuvem.

Instalando o **Python**: Acesse o site oficial do Python (https://www.python.org/) e baixe a versão mais recente para o seu sistema operacional. Siga as instruções de instalação para configurar o Python em seu computador.

Instalando o  **Visual Studio Code (VS Code)**: Acesse o site (https://code.visualstudio.com/).

**Extensões** que irão tornar o processo de desenvolvimento mais simples e intuitivo:

SQLite: Essa extensão essencial oferece recursos para abrir e editar arquivos SQLite (.db), executar consultas SQL, visualizar dados e até mesmo criar tabelas e colunas diretamente no VS Code.

SQLite Viewer: Com o SQLite Viewer, você pode visualizar seus dados SQLite de forma gráfica, sem precisar escrever código. Ele oferece uma interface simples e amigável para navegar pelas tabelas, visualizar os dados e editar registros.


**Bibliotecas e módulos:**

sqlite3
csv
Pandas
Seaborn
Matplotlib

**Lendo Dados de um Arquivo CSV e Inserindo no Banco**

Vamos começar lendo dados de um arquivo CSV e inserindo-os em uma tabela do banco de dados SQLite.

In [ ]:
# Criando a Tabela no SQLite
# Primeiro, vamos criar uma tabela no banco de dados SQLite onde os dados do CSV serão armazenados.

import sqlite3

# Conectando ao banco de dados SQLite (ou criando se não existir)
conn = sqlite3.connect('banco_projeto.db')
cursor = conn.cursor()

# Criando a tabela
cursor.execute("""
CREATE TABLE IF NOT EXISTS dados_projeto (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    municipio TEXT NOT NULL,
    ano INTEGER NOT NULL,
    co2_t INTEGER NOT NULL,
    area_ha INTEGER NOT NULL,

)
""")

# Salvando as mudanças
conn.commit()



> Adicionar aspas

Talvez essa parte seja no final apos os dados trabalhados

> Adicionar aspas

In [ ]:
# Agora, vamos ler o arquivo CSV e inserir os dados na tabela:

import csv
import sqlite3

# Conectando ao banco de dados
conn = sqlite3.connect('banco_projeto.db')
cursor = conn.cursor()

# Abrindo o arquivo CSV  , dados.csv o nome do arquivo
with open('dados.csv', 'r') as arquivo_csv:   # with open('clientes.csv', newline='', encoding='utf-8') as csvfile:
    leitor_csv = csv.reader(arquivo_csv)      #    leitor = csv.reader(csvfile)

    # Pulando o cabeçalho
    next(leitor_csv)    #   next(leitor)

    # Inserindo cada linha do CSV na tabela
    for linha in leitor_csv:      #    for linha in leitor:
        cursor.execute("INSERT INTO dados_projeto (id, municipio, ano, co2_t, area_ha) VALUES (?, ?, ?, ?, ?)", (linha[0], int(linha[1]))   # cursor.execute("INSERT INTO clientes (nome, email) VALUES (?, ?)", (linha[1], linha[2]))

   # Insere vários estudantes de uma vez
     # cursor.executemany("INSERT INTO estudantes (nome, idade) VALUES (?, ?)", estudantes)

        # consultar https://github.com/palomaavena/on35-python-s08-banco-de-dados-II/tree/main/exercicios/para-casa

# Salvando as mudanças
conn.commit()

# Fechando a conexão
cursor.close()
conn.close()


**Análise exploratória de dados**

1. DADOS DE CO2 - SEEG

Coleta de dados CO2 Bahia, SEEG:


link: https://plataforma.seeg.eco.br/?highlight=states-net-emissions-by-sector-bahia&_gl=1*gambxz*_ga*MTk5NTgxNjM5MS4xNzI1NjQzNTE1*_ga_XZWSWEJDWQ*MTcyNTY0MzUxNS4xLjAuMTcyNTY0MzUxNS4wLjAuMA..blob:https://plataforma.seeg.eco.br/845fd445-2d02-43a9-bb87-14435bfb6c1b


CO2: quantidade em tonelada

Importando os dados das planilhas

In [ ]:
# Primeiro, instale a biblioteca pandas se ainda não estiver instalada
!pip install pandas

# Importando os dados
import pandas as pd
import csv

# Carregando os dois arquivos CSV
# Caso esteja rodando localmente, altere o caminho dos arquivos.
# No Colab, você pode fazer upload dos arquivos com os botões de upload e colocar somente o nome do arquivo abaixo

df1 = pd.read_csv('SEEG.csv')
df2 = pd.read_csv('SEEG1.csv')

# Exibindo as primeiras linhas dos DataFrames para verificar
print(df1.head())
print(df2.head())

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
                            Categoria          1990          1991  \
0  Mudança de Uso da Terra e Floresta  7.034675e+07  7.178002e+07

           1992          1993          1994          1995          1996  \
0  6.619761e+07  7.059627e+07  6.556189e+07  6.583727e+07  5.788894e+07

           1997          1998  ...          2013          2014          2015  \
0  4.795778e+07  4.590264e+07  ...  5.195822e+07  3.719111e+07  3.190265e+07

           2016          2017          2018          2019          2020  \
0  3.130805e+07  3.234297e+07  3.804942e+07  3.372027e+07  3.324519e+07

           2021      2022
0  3.181527e+07  31412973

[1 rows x 34 columns]
                   Categoria          1990          1991          1992  \
0         São Desidério (BA)  2.002523e+06  2.116496e+06  1.342632e+06
1  Formosa do Rio Preto (BA)  8.268747e+05  3.994671e+05  5.396696e+05
2             Jaborandi (BA)  5.986577e+05  3.230176e+05  5.522217e+05
3            Correntina (BA)  1.240466e+06  1.300028e+06  1.251180e+06
4             Barreiras (BA)  1.104449e+06  9.809112e+05  9.201021e+05

           1993          1994          1995          1996          1997  \
0  2.128146e+06  1.457664e+06  1.380662e+06  2.586180e+06  1.266969e+06
1  7.916206e+05  1.109452e+06  1.319670e+06  1.691259e+06  1.703959e+06
2  5.767153e+05  6.191671e+05  9.156728e+05  3.416252e+05  2.867088e+05
3  2.444920e+06  1.626112e+06  7.442169e+05  8.835755e+05  5.224134e+05
4  1.228585e+06  1.639774e+06  1.522551e+06  1.179748e+06  1.104723e+06

           1998  ...          2013          2014          2015          2016  \
0  2.054171e+06  ...  1.891963e+06  1.282559e+06  1.218159e+06  9.212761e+05
1  1.971454e+06  ...  3.487482e+06  2.810540e+06  1.893684e+06  6.809720e+05
2  3.425471e+05  ...  2.526260e+06  1.280666e+06  1.001395e+06  6.383960e+05
3  8.225963e+05  ...  1.683472e+06  1.255760e+06  1.275669e+06  1.072367e+06
4  1.254497e+06  ...  2.095302e+06  8.441796e+05  1.058625e+06  8.611082e+05

           2017          2018          2019          2020          2021  \
0  9.647149e+05  1.252957e+06  2.024108e+06  3.091203e+06  3.159580e+06
1  7.885680e+05  1.208044e+06  4.220327e+06  3.073766e+06  2.299738e+06
2  7.539480e+05  1.162687e+06  1.706968e+06  1.744004e+06  2.051921e+06
3  1.202182e+06  1.245274e+06  1.545573e+06  1.060526e+06  1.585476e+06
4  8.665016e+05  8.465682e+05  1.568927e+06  1.179766e+06  9.583063e+05

      2022
0  2729422
1  2432263
2  1734316
3  1473135
4   996163

[5 rows x 34 columns]

In [ ]:
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Categoria  1 non-null      object
 1   1990       1 non-null      float64
 2   1991       1 non-null      float64
 3   1992       1 non-null      float64
 4   1993       1 non-null      float64
 5   1994       1 non-null      float64
 6   1995       1 non-null      float64
 7   1996       1 non-null      float64
 8   1997       1 non-null      float64
 9   1998       1 non-null      float64
 10  1999       1 non-null      float64
 11  2000       1 non-null      float64
 12  2001       1 non-null      float64
 13  2002       1 non-null      float64
 14  2003       1 non-null      float64
 15  2004       1 non-null      float64
 16  2005       1 non-null      float64
 17  2006       1 non-null      float64
 18  2007       1 non-null      float64
 19  2008       1 non-null      float64
 20  2009       1 non-null      float64
 21  2010       1 non-null      float64
 22  2011       1 non-null      float64
 23  2012       1 non-null      float64
 24  2013       1 non-null      float64
 25  2014       1 non-null      float64
 26  2015       1 non-null      float64
 27  2016       1 non-null      float64
 28  2017       1 non-null      float64
 29  2018       1 non-null      float64
 30  2019       1 non-null      float64
 31  2020       1 non-null      float64
 32  2021       1 non-null      float64
 33  2022       1 non-null      int64
dtypes: float64(32), int64(1), object(1)
memory usage: 400.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Categoria  31 non-null     object
 1   1990       31 non-null     float64
 2   1991       31 non-null     float64
 3   1992       31 non-null     float64
 4   1993       31 non-null     float64
 5   1994       31 non-null     float64
 6   1995       31 non-null     float64
 7   1996       31 non-null     float64
 8   1997       31 non-null     float64
 9   1998       31 non-null     float64
 10  1999       31 non-null     float64
 11  2000       31 non-null     float64
 12  2001       31 non-null     float64
 13  2002       31 non-null     float64
 14  2003       31 non-null     float64
 15  2004       31 non-null     float64
 16  2005       31 non-null     float64
 17  2006       31 non-null     float64
 18  2007       31 non-null     float64
 19  2008       31 non-null     float64
 20  2009       31 non-null     float64
 21  2010       31 non-null     float64
 22  2011       31 non-null     float64
 23  2012       31 non-null     float64
 24  2013       31 non-null     float64
 25  2014       31 non-null     float64
 26  2015       31 non-null     float64
 27  2016       31 non-null     float64
 28  2017       31 non-null     float64
 29  2018       31 non-null     float64
 30  2019       31 non-null     float64
 31  2020       31 non-null     float64
 32  2021       31 non-null     float64
 33  2022       31 non-null     int64
dtypes: float64(32), int64(1), object(1)
memory usage: 8.4+ KB

In [ ]:
# Converta todas as colunas de anos para string, por exemplo

df1[['2019', '2020', '2021', '2022']] = df1[['2019', '2020', '2021', '2022']].astype(float)
df2[['2019', '2020', '2021', '2022']] = df2[['2019', '2020', '2021', '2022']].astype(float)

# Converta a coluna Categoria também, se necessário
df1['Categoria'] = df1['Categoria'].astype(str)
df2['Categoria'] = df2['Categoria'].astype(str)


# Exibindo as primeiras linhas dos DataFrames para verificar
print(df1.head())
print(df2.head())

                            Categoria          1990          1991  \
0  Mudança de Uso da Terra e Floresta  7.034675e+07  7.178002e+07

           1992          1993          1994          1995          1996  \
0  6.619761e+07  7.059627e+07  6.556189e+07  6.583727e+07  5.788894e+07

           1997          1998  ...          2013          2014          2015  \
0  4.795778e+07  4.590264e+07  ...  5.195822e+07  3.719111e+07  3.190265e+07

           2016          2017          2018          2019          2020  \
0  3.130805e+07  3.234297e+07  3.804942e+07  3.372027e+07  3.324519e+07

           2021        2022
0  3.181527e+07  31412973.0

[1 rows x 34 columns]
                   Categoria          1990          1991          1992  \
0         São Desidério (BA)  2.002523e+06  2.116496e+06  1.342632e+06
1  Formosa do Rio Preto (BA)  8.268747e+05  3.994671e+05  5.396696e+05
2             Jaborandi (BA)  5.986577e+05  3.230176e+05  5.522217e+05
3            Correntina (BA)  1.240466e+06  1.300028e+06  1.251180e+06
4             Barreiras (BA)  1.104449e+06  9.809112e+05  9.201021e+05

           1993          1994          1995          1996          1997  \
0  2.128146e+06  1.457664e+06  1.380662e+06  2.586180e+06  1.266969e+06
1  7.916206e+05  1.109452e+06  1.319670e+06  1.691259e+06  1.703959e+06
2  5.767153e+05  6.191671e+05  9.156728e+05  3.416252e+05  2.867088e+05
3  2.444920e+06  1.626112e+06  7.442169e+05  8.835755e+05  5.224134e+05
4  1.228585e+06  1.639774e+06  1.522551e+06  1.179748e+06  1.104723e+06

           1998  ...          2013          2014          2015          2016  \
0  2.054171e+06  ...  1.891963e+06  1.282559e+06  1.218159e+06  9.212761e+05
1  1.971454e+06  ...  3.487482e+06  2.810540e+06  1.893684e+06  6.809720e+05
2  3.425471e+05  ...  2.526260e+06  1.280666e+06  1.001395e+06  6.383960e+05
3  8.225963e+05  ...  1.683472e+06  1.255760e+06  1.275669e+06  1.072367e+06
4  1.254497e+06  ...  2.095302e+06  8.441796e+05  1.058625e+06  8.611082e+05

           2017          2018          2019          2020          2021  \
0  9.647149e+05  1.252957e+06  2.024108e+06  3.091203e+06  3.159580e+06
1  7.885680e+05  1.208044e+06  4.220327e+06  3.073766e+06  2.299738e+06
2  7.539480e+05  1.162687e+06  1.706968e+06  1.744004e+06  2.051921e+06
3  1.202182e+06  1.245274e+06  1.545573e+06  1.060526e+06  1.585476e+06
4  8.665016e+05  8.465682e+05  1.568927e+06  1.179766e+06  9.583063e+05

        2022
0  2729422.0
1  2432263.0
2  1734316.0
3  1473135.0
4   996163.0

[5 rows x 34 columns]

In [ ]:
# Remover espaços em branco no início e no fim dos valores das colunas de chave

df1['Categoria'] = df1['Categoria'].str.strip()
df2['Categoria'] = df2['Categoria'].str.strip()



# Exibindo as primeiras linhas dos DataFrames para verificar
print(df1.head())
print(df2.head())

                            Categoria          1990          1991  \
0  Mudança de Uso da Terra e Floresta  7.034675e+07  7.178002e+07

           1992          1993          1994          1995          1996  \
0  6.619761e+07  7.059627e+07  6.556189e+07  6.583727e+07  5.788894e+07

           1997          1998  ...          2013          2014          2015  \
0  4.795778e+07  4.590264e+07  ...  5.195822e+07  3.719111e+07  3.190265e+07

           2016          2017          2018          2019          2020  \
0  3.130805e+07  3.234297e+07  3.804942e+07  3.372027e+07  3.324519e+07

           2021        2022
0  3.181527e+07  31412973.0

[1 rows x 34 columns]
                   Categoria          1990          1991          1992  \
0         São Desidério (BA)  2.002523e+06  2.116496e+06  1.342632e+06
1  Formosa do Rio Preto (BA)  8.268747e+05  3.994671e+05  5.396696e+05
2             Jaborandi (BA)  5.986577e+05  3.230176e+05  5.522217e+05
3            Correntina (BA)  1.240466e+06  1.300028e+06  1.251180e+06
4             Barreiras (BA)  1.104449e+06  9.809112e+05  9.201021e+05

           1993          1994          1995          1996          1997  \
0  2.128146e+06  1.457664e+06  1.380662e+06  2.586180e+06  1.266969e+06
1  7.916206e+05  1.109452e+06  1.319670e+06  1.691259e+06  1.703959e+06
2  5.767153e+05  6.191671e+05  9.156728e+05  3.416252e+05  2.867088e+05
3  2.444920e+06  1.626112e+06  7.442169e+05  8.835755e+05  5.224134e+05
4  1.228585e+06  1.639774e+06  1.522551e+06  1.179748e+06  1.104723e+06

           1998  ...          2013          2014          2015          2016  \
0  2.054171e+06  ...  1.891963e+06  1.282559e+06  1.218159e+06  9.212761e+05
1  1.971454e+06  ...  3.487482e+06  2.810540e+06  1.893684e+06  6.809720e+05
2  3.425471e+05  ...  2.526260e+06  1.280666e+06  1.001395e+06  6.383960e+05
3  8.225963e+05  ...  1.683472e+06  1.255760e+06  1.275669e+06  1.072367e+06
4  1.254497e+06  ...  2.095302e+06  8.441796e+05  1.058625e+06  8.611082e+05

           2017          2018          2019          2020          2021  \
0  9.647149e+05  1.252957e+06  2.024108e+06  3.091203e+06  3.159580e+06
1  7.885680e+05  1.208044e+06  4.220327e+06  3.073766e+06  2.299738e+06
2  7.539480e+05  1.162687e+06  1.706968e+06  1.744004e+06  2.051921e+06
3  1.202182e+06  1.245274e+06  1.545573e+06  1.060526e+06  1.585476e+06
4  8.665016e+05  8.465682e+05  1.568927e+06  1.179766e+06  9.583063e+05

        2022
0  2729422.0
1  2432263.0
2  1734316.0
3  1473135.0
4   996163.0

[5 rows x 34 columns]

In [ ]:
print("Valores únicos de Categoria no df1:", df1['Categoria'].unique())
print("Valores únicos de Categoria no df2:", df2['Categoria'].unique())

Valores únicos de Categoria no df1: ['Mudança de Uso da Terra e Floresta']
Valores únicos de Categoria no df2: ['São Desidério (BA)' 'Formosa do Rio Preto (BA)' 'Jaborandi (BA)'
 'Correntina (BA)' 'Barreiras (BA)' 'Riachão das Neves (BA)'
 'Santa Rita de Cássia (BA)' 'Jequié (BA)' 'Encruzilhada (BA)'
 'Baianópolis (BA)' 'Valença (BA)' 'Cocos (BA)' 'Belmonte (BA)'
 'Luís Eduardo Magalhães (BA)' 'Barra (BA)' 'Cotegipe (BA)'
 'Ibirapitanga (BA)' 'Itagibá (BA)' 'Itapetinga (BA)' 'Iguaí (BA)'
 'Maraú (BA)' 'Ibicuí (BA)' 'Guaratinga (BA)' 'Nilo Peçanha (BA)'
 'Camamu (BA)' 'Itambé (BA)' 'Dário Meira (BA)' 'Igrapiúna (BA)'
 'Ilhéus (BA)' 'Itarantim (BA)' 'Outros']

In [ ]:
# Fazendo a mesclagem com base em várias colunas
df_merged = pd.merge(df1, df2, on=['Categoria', '2019', '2020', '2021', '2022'], how='outer', suffixes=('.x', '.y'))


# Exibindo as primeiras linhas do arquivo mesclado
print(df_merged.head())

# Salvando o arquivo final mesclado em um novo CSV
#df_merged.to_csv('co2_mesclado.csv', index=False)

          Categoria  1990.x  1991.x  1992.x  1993.x  1994.x  1995.x  1996.x  \
0  Baianópolis (BA)     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1        Barra (BA)     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2    Barreiras (BA)     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3     Belmonte (BA)     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4       Camamu (BA)     NaN     NaN     NaN     NaN     NaN     NaN     NaN

   1997.x  1998.x  ...         2009.y         2010.y        2011.y  \
0     NaN     NaN  ...  201533.680923  198100.860538  6.037104e+05
1     NaN     NaN  ...  293285.996844  190840.199123  2.542452e+05
2     NaN     NaN  ...  782536.543400  499205.103294  1.123564e+06
3     NaN     NaN  ...  305481.817527  362152.208117  3.601907e+05
4     NaN     NaN  ...  233046.682173  244347.041716  1.454052e+05

         2012.y        2013.y        2014.y        2015.y         2016.y  \
0  6.769915e+05  6.462472e+05  6.534717e+05  4.394508e+05  297636.543553
1  2.154561e+05  4.209665e+05  1.320592e+06  7.130062e+05  237763.732862
2  2.600460e+06  2.095302e+06  8.441796e+05  1.058625e+06  861108.203390
3  2.477949e+05  4.196629e+05  3.442798e+05  3.239090e+05  970812.041222
4  2.455068e+05  2.883452e+05  2.205248e+05  1.565318e+05  182309.875579

          2017.y         2018.y
0  522833.621365  720253.263252
1  373584.710467  381685.422644
2  866501.596361  846568.187975
3  811434.286499  302593.128041
4  283636.498159  325602.310323

[5 rows x 63 columns]

In [ ]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 63 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Categoria  32 non-null     object
 1   1990.x     1 non-null      float64
 2   1991.x     1 non-null      float64
 3   1992.x     1 non-null      float64
 4   1993.x     1 non-null      float64
 5   1994.x     1 non-null      float64
 6   1995.x     1 non-null      float64
 7   1996.x     1 non-null      float64
 8   1997.x     1 non-null      float64
 9   1998.x     1 non-null      float64
 10  1999.x     1 non-null      float64
 11  2000.x     1 non-null      float64
 12  2001.x     1 non-null      float64
 13  2002.x     1 non-null      float64
 14  2003.x     1 non-null      float64
 15  2004.x     1 non-null      float64
 16  2005.x     1 non-null      float64
 17  2006.x     1 non-null      float64
 18  2007.x     1 non-null      float64
 19  2008.x     1 non-null      float64
 20  2009.x     1 non-null      float64
 21  2010.x     1 non-null      float64
 22  2011.x     1 non-null      float64
 23  2012.x     1 non-null      float64
 24  2013.x     1 non-null      float64
 25  2014.x     1 non-null      float64
 26  2015.x     1 non-null      float64
 27  2016.x     1 non-null      float64
 28  2017.x     1 non-null      float64
 29  2018.x     1 non-null      float64
 30  2019       32 non-null     float64
 31  2020       32 non-null     float64
 32  2021       32 non-null     float64
 33  2022       32 non-null     float64
 34  1990.y     31 non-null     float64
 35  1991.y     31 non-null     float64
 36  1992.y     31 non-null     float64
 37  1993.y     31 non-null     float64
 38  1994.y     31 non-null     float64
 39  1995.y     31 non-null     float64
 40  1996.y     31 non-null     float64
 41  1997.y     31 non-null     float64
 42  1998.y     31 non-null     float64
 43  1999.y     31 non-null     float64
 44  2000.y     31 non-null     float64
 45  2001.y     31 non-null     float64
 46  2002.y     31 non-null     float64
 47  2003.y     31 non-null     float64
 48  2004.y     31 non-null     float64
 49  2005.y     31 non-null     float64
 50  2006.y     31 non-null     float64
 51  2007.y     31 non-null     float64
 52  2008.y     31 non-null     float64
 53  2009.y     31 non-null     float64
 54  2010.y     31 non-null     float64
 55  2011.y     31 non-null     float64
 56  2012.y     31 non-null     float64
 57  2013.y     31 non-null     float64
 58  2014.y     31 non-null     float64
 59  2015.y     31 non-null     float64
 60  2016.y     31 non-null     float64
 61  2017.y     31 non-null     float64
 62  2018.y     31 non-null     float64
dtypes: float64(62), object(1)
memory usage: 15.9+ KB

In [ ]:
# Exibe os nomes das colunas
df_merged.columns

Index(['Categoria', '1990.x', '1991.x', '1992.x', '1993.x', '1994.x', '1995.x',
       '1996.x', '1997.x', '1998.x', '1999.x', '2000.x', '2001.x', '2002.x',
       '2003.x', '2004.x', '2005.x', '2006.x', '2007.x', '2008.x', '2009.x',
       '2010.x', '2011.x', '2012.x', '2013.x', '2014.x', '2015.x', '2016.x',
       '2017.x', '2018.x', '2019', '2020', '2021', '2022', '1990.y', '1991.y',
       '1992.y', '1993.y', '1994.y', '1995.y', '1996.y', '1997.y', '1998.y',
       '1999.y', '2000.y', '2001.y', '2002.y', '2003.y', '2004.y', '2005.y',
       '2006.y', '2007.y', '2008.y', '2009.y', '2010.y', '2011.y', '2012.y',
       '2013.y', '2014.y', '2015.y', '2016.y', '2017.y', '2018.y'],
      dtype='object')

In [ ]:
# Selecionar as colunas específicas

df_reduzido = df_merged[['Categoria','2019', '2020', '2021', '2022']]
print(df_reduzido)

                             Categoria          2019          2020  \
0                     Baianópolis (BA)  6.074368e+05  7.908150e+05
1                           Barra (BA)  2.260111e+05  1.397781e+05
2                       Barreiras (BA)  1.568927e+06  1.179766e+06
3                        Belmonte (BA)  3.904032e+05  3.505588e+05
4                          Camamu (BA)  2.214714e+05  4.347414e+05
5                           Cocos (BA)  9.593941e+05  1.218387e+06
6                      Correntina (BA)  1.545573e+06  1.060526e+06
7                        Cotegipe (BA)  3.311638e+05  5.599601e+05
8                     Dário Meira (BA)  9.440196e+04  9.250477e+04
9                    Encruzilhada (BA)  4.038959e+05  4.516205e+05
10           Formosa do Rio Preto (BA)  4.220327e+06  3.073766e+06
11                     Guaratinga (BA)  2.117080e+05  2.516566e+05
12                         Ibicuí (BA)  1.696392e+04  3.524000e+04
13                   Ibirapitanga (BA)  8.620563e+04  2.963629e+05
14                      Igrapiúna (BA)  2.576941e+05  3.782366e+05
15                          Iguaí (BA)  8.222719e+04  1.274713e+05
16                         Ilhéus (BA)  1.588721e+05  1.912059e+05
17                        Itagibá (BA)  1.216756e+05  7.210208e+04
18                         Itambé (BA)  1.001077e+05  1.444300e+05
19                     Itapetinga (BA)  5.707418e+04  4.613513e+04
20                      Itarantim (BA)  3.847215e+04  6.031930e+04
21                      Jaborandi (BA)  1.706968e+06  1.744004e+06
22                         Jequié (BA)  2.491692e+05  1.862657e+05
23         Luís Eduardo Magalhães (BA)  8.004357e+05  1.523413e+06
24                          Maraú (BA)  8.020749e+04  1.701269e+05
25  Mudança de Uso da Terra e Floresta  3.372027e+07  3.324519e+07
26                   Nilo Peçanha (BA)  9.027649e+04  1.546260e+05
27                              Outros  1.554645e+07  1.304776e+07
28              Riachão das Neves (BA)  5.801730e+05  1.085054e+06
29           Santa Rita de Cássia (BA)  6.947971e+05  8.595094e+05
30                  São Desidério (BA)  2.024108e+06  3.091203e+06
31                        Valença (BA)  2.476738e+05  4.276377e+05

            2021        2022
0   1.700892e+06    413632.0
1   7.905882e+04    312169.0
2   9.583063e+05    996163.0
3   3.314850e+05    354868.0
4   1.635482e+05    232571.0
5   1.229645e+06    367625.0
6   1.585476e+06   1473135.0
7   2.925473e+05    297663.0
8   1.017979e+05    217077.0
9   5.873154e+05    414662.0
10  2.299738e+06   2432263.0
11  1.717426e+05    243882.0
12  2.780070e+04    245755.0
13  7.243660e+04    292758.0
14  1.486217e+05    210971.0
15  1.559627e+05    277970.0
16  1.317151e+05    209209.0
17  1.114533e+05    288483.0
18  6.526349e+04    227632.0
19  2.072777e+04    285382.0
20  1.040533e+04    203154.0
21  2.051921e+06   1734316.0
22  1.639264e+05    498001.0
23  6.542620e+05    343098.0
24  1.032113e+05    275953.0
25  3.181527e+07  31412973.0
26  5.956842e+04    238334.0
27  1.342087e+07  13978140.0
28  7.619633e+05    670183.0
29  9.987006e+05    569631.0
30  3.159580e+06   2729422.0
31  1.953325e+05    378871.0

In [ ]:
# Altera os nomes das colunas

df_reduzido.columns = ['Municípios', '2019', '2020', '2021', '2022']
print(df_reduzido)

                            Municípios          2019          2020  \
0                     Baianópolis (BA)  6.074368e+05  7.908150e+05
1                           Barra (BA)  2.260111e+05  1.397781e+05
2                       Barreiras (BA)  1.568927e+06  1.179766e+06
3                        Belmonte (BA)  3.904032e+05  3.505588e+05
4                          Camamu (BA)  2.214714e+05  4.347414e+05
5                           Cocos (BA)  9.593941e+05  1.218387e+06
6                      Correntina (BA)  1.545573e+06  1.060526e+06
7                        Cotegipe (BA)  3.311638e+05  5.599601e+05
8                     Dário Meira (BA)  9.440196e+04  9.250477e+04
9                    Encruzilhada (BA)  4.038959e+05  4.516205e+05
10           Formosa do Rio Preto (BA)  4.220327e+06  3.073766e+06
11                     Guaratinga (BA)  2.117080e+05  2.516566e+05
12                         Ibicuí (BA)  1.696392e+04  3.524000e+04
13                   Ibirapitanga (BA)  8.620563e+04  2.963629e+05
14                      Igrapiúna (BA)  2.576941e+05  3.782366e+05
15                          Iguaí (BA)  8.222719e+04  1.274713e+05
16                         Ilhéus (BA)  1.588721e+05  1.912059e+05
17                        Itagibá (BA)  1.216756e+05  7.210208e+04
18                         Itambé (BA)  1.001077e+05  1.444300e+05
19                     Itapetinga (BA)  5.707418e+04  4.613513e+04
20                      Itarantim (BA)  3.847215e+04  6.031930e+04
21                      Jaborandi (BA)  1.706968e+06  1.744004e+06
22                         Jequié (BA)  2.491692e+05  1.862657e+05
23         Luís Eduardo Magalhães (BA)  8.004357e+05  1.523413e+06
24                          Maraú (BA)  8.020749e+04  1.701269e+05
25  Mudança de Uso da Terra e Floresta  3.372027e+07  3.324519e+07
26                   Nilo Peçanha (BA)  9.027649e+04  1.546260e+05
27                              Outros  1.554645e+07  1.304776e+07
28              Riachão das Neves (BA)  5.801730e+05  1.085054e+06
29           Santa Rita de Cássia (BA)  6.947971e+05  8.595094e+05
30                  São Desidério (BA)  2.024108e+06  3.091203e+06
31                        Valença (BA)  2.476738e+05  4.276377e+05

            2021        2022
0   1.700892e+06    413632.0
1   7.905882e+04    312169.0
2   9.583063e+05    996163.0
3   3.314850e+05    354868.0
4   1.635482e+05    232571.0
5   1.229645e+06    367625.0
6   1.585476e+06   1473135.0
7   2.925473e+05    297663.0
8   1.017979e+05    217077.0
9   5.873154e+05    414662.0
10  2.299738e+06   2432263.0
11  1.717426e+05    243882.0
12  2.780070e+04    245755.0
13  7.243660e+04    292758.0
14  1.486217e+05    210971.0
15  1.559627e+05    277970.0
16  1.317151e+05    209209.0
17  1.114533e+05    288483.0
18  6.526349e+04    227632.0
19  2.072777e+04    285382.0
20  1.040533e+04    203154.0
21  2.051921e+06   1734316.0
22  1.639264e+05    498001.0
23  6.542620e+05    343098.0
24  1.032113e+05    275953.0
25  3.181527e+07  31412973.0
26  5.956842e+04    238334.0
27  1.342087e+07  13978140.0
28  7.619633e+05    670183.0
29  9.987006e+05    569631.0
30  3.159580e+06   2729422.0
31  1.953325e+05    378871.0

In [ ]:
# Verifica valores nulos

nulos = df_reduzido.isnull()
print(nulos)

# Contagem de valores nulos em cada coluna

nulos_por_coluna = df_reduzido.isnull().sum()
print(nulos_por_coluna)

    Municípios   2019   2020   2021   2022
0        False  False  False  False  False
1        False  False  False  False  False
2        False  False  False  False  False
3        False  False  False  False  False
4        False  False  False  False  False
5        False  False  False  False  False
6        False  False  False  False  False
7        False  False  False  False  False
8        False  False  False  False  False
9        False  False  False  False  False
10       False  False  False  False  False
11       False  False  False  False  False
12       False  False  False  False  False
13       False  False  False  False  False
14       False  False  False  False  False
15       False  False  False  False  False
16       False  False  False  False  False
17       False  False  False  False  False
18       False  False  False  False  False
19       False  False  False  False  False
20       False  False  False  False  False
21       False  False  False  False  False
22       False  False  False  False  False
23       False  False  False  False  False
24       False  False  False  False  False
25       False  False  False  False  False
26       False  False  False  False  False
27       False  False  False  False  False
28       False  False  False  False  False
29       False  False  False  False  False
30       False  False  False  False  False
31       False  False  False  False  False
Municípios    0
2019          0
2020          0
2021          0
2022          0
dtype: int64

In [ ]:
# Remove linhas duplicadas

df_sem_duplicatas = df_reduzido.drop_duplicates()
print(df_sem_duplicatas)

                            Municípios          2019          2020  \
0                     Baianópolis (BA)  6.074368e+05  7.908150e+05
1                           Barra (BA)  2.260111e+05  1.397781e+05
2                       Barreiras (BA)  1.568927e+06  1.179766e+06
3                        Belmonte (BA)  3.904032e+05  3.505588e+05
4                          Camamu (BA)  2.214714e+05  4.347414e+05
5                           Cocos (BA)  9.593941e+05  1.218387e+06
6                      Correntina (BA)  1.545573e+06  1.060526e+06
7                        Cotegipe (BA)  3.311638e+05  5.599601e+05
8                     Dário Meira (BA)  9.440196e+04  9.250477e+04
9                    Encruzilhada (BA)  4.038959e+05  4.516205e+05
10           Formosa do Rio Preto (BA)  4.220327e+06  3.073766e+06
11                     Guaratinga (BA)  2.117080e+05  2.516566e+05
12                         Ibicuí (BA)  1.696392e+04  3.524000e+04
13                   Ibirapitanga (BA)  8.620563e+04  2.963629e+05
14                      Igrapiúna (BA)  2.576941e+05  3.782366e+05
15                          Iguaí (BA)  8.222719e+04  1.274713e+05
16                         Ilhéus (BA)  1.588721e+05  1.912059e+05
17                        Itagibá (BA)  1.216756e+05  7.210208e+04
18                         Itambé (BA)  1.001077e+05  1.444300e+05
19                     Itapetinga (BA)  5.707418e+04  4.613513e+04
20                      Itarantim (BA)  3.847215e+04  6.031930e+04
21                      Jaborandi (BA)  1.706968e+06  1.744004e+06
22                         Jequié (BA)  2.491692e+05  1.862657e+05
23         Luís Eduardo Magalhães (BA)  8.004357e+05  1.523413e+06
24                          Maraú (BA)  8.020749e+04  1.701269e+05
25  Mudança de Uso da Terra e Floresta  3.372027e+07  3.324519e+07
26                   Nilo Peçanha (BA)  9.027649e+04  1.546260e+05
27                              Outros  1.554645e+07  1.304776e+07
28              Riachão das Neves (BA)  5.801730e+05  1.085054e+06
29           Santa Rita de Cássia (BA)  6.947971e+05  8.595094e+05
30                  São Desidério (BA)  2.024108e+06  3.091203e+06
31                        Valença (BA)  2.476738e+05  4.276377e+05

            2021        2022
0   1.700892e+06    413632.0
1   7.905882e+04    312169.0
2   9.583063e+05    996163.0
3   3.314850e+05    354868.0
4   1.635482e+05    232571.0
5   1.229645e+06    367625.0
6   1.585476e+06   1473135.0
7   2.925473e+05    297663.0
8   1.017979e+05    217077.0
9   5.873154e+05    414662.0
10  2.299738e+06   2432263.0
11  1.717426e+05    243882.0
12  2.780070e+04    245755.0
13  7.243660e+04    292758.0
14  1.486217e+05    210971.0
15  1.559627e+05    277970.0
16  1.317151e+05    209209.0
17  1.114533e+05    288483.0
18  6.526349e+04    227632.0
19  2.072777e+04    285382.0
20  1.040533e+04    203154.0
21  2.051921e+06   1734316.0
22  1.639264e+05    498001.0
23  6.542620e+05    343098.0
24  1.032113e+05    275953.0
25  3.181527e+07  31412973.0
26  5.956842e+04    238334.0
27  1.342087e+07  13978140.0
28  7.619633e+05    670183.0
29  9.987006e+05    569631.0
30  3.159580e+06   2729422.0
31  1.953325e+05    378871.0

In [ ]:
df_sem_duplicatas = pd.melt(df_sem_duplicatas, id_vars=['Municípios'], value_vars=['2019', '2020', '2021', '2022'], var_name='Ano', value_name='CO2_emitido')

print(df_sem_duplicatas)

                    Municípios   Ano   CO2_emitido
0             Baianópolis (BA)  2019  6.074368e+05
1                   Barra (BA)  2019  2.260111e+05
2               Barreiras (BA)  2019  1.568927e+06
3                Belmonte (BA)  2019  3.904032e+05
4                  Camamu (BA)  2019  2.214714e+05
..                         ...   ...           ...
123                     Outros  2022  1.397814e+07
124     Riachão das Neves (BA)  2022  6.701830e+05
125  Santa Rita de Cássia (BA)  2022  5.696310e+05
126         São Desidério (BA)  2022  2.729422e+06
127               Valença (BA)  2022  3.788710e+05

[128 rows x 3 columns]

In [ ]:
# Salvando o arquivo final mesclado em um novo CSV

df_sem_duplicatas.to_csv('co2.csv', index=False, encoding='utf-8')

print(df_sem_duplicatas)

                    Municípios   Ano   CO2_emitido
0             Baianópolis (BA)  2019  6.074368e+05
1                   Barra (BA)  2019  2.260111e+05
2               Barreiras (BA)  2019  1.568927e+06
3                Belmonte (BA)  2019  3.904032e+05
4                  Camamu (BA)  2019  2.214714e+05
..                         ...   ...           ...
123                     Outros  2022  1.397814e+07
124     Riachão das Neves (BA)  2022  6.701830e+05
125  Santa Rita de Cássia (BA)  2022  5.696310e+05
126         São Desidério (BA)  2022  2.729422e+06
127               Valença (BA)  2022  3.788710e+05

[128 rows x 3 columns]

**2. DADOS DESMATAMENTO - MAPBIOMAS**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# importando dados

df3 = pd.read_csv('mapbiomas_ba.csv')

# Exibindo as primeiras linhas dos DataFrames para verificar

print(df3.head())

   CODEALERTA           FONTE     BIOMA ESTADO      MUNICIPIO  AREAHA  \
0     1226926  {SAD-CAATINGA}  Caatinga  BAHIA           Iaçu    2.96
1     1226922  {SAD-CAATINGA}  Caatinga  BAHIA  Miguel Calmon    1.69
2     1227303  {SAD-CAATINGA}  Caatinga  BAHIA     Buritirama    2.05
3     1227296  {SAD-CAATINGA}  Caatinga  BAHIA          Piatã    0.69
4     1227291  {SAD-CAATINGA}  Caatinga  BAHIA       Cotegipe   23.97

   ANODETEC   DATADETEC    DTIMGANT    DTIMGDEP     DTPUBLI     VPRESSAO
0    2024.0  2024/01/01  2023/01/26  2024/02/14  2024/04/30  agriculture
1    2024.0  2024/01/01  2023/06/30  2024/01/31  2024/04/30  agriculture
2    2024.0  2024/01/01  2023/03/17  2023/10/10  2024/04/30  agriculture
3    2024.0  2024/01/01  2023/04/27  2023/06/17  2024/04/30  agriculture
4    2024.0  2024/01/01  2023/08/12  2023/10/17  2024/04/30  agriculture

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28397 entries, 0 to 28396
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODEALERTA  28397 non-null  int64
 1   FONTE       28397 non-null  object
 2   BIOMA       28397 non-null  object
 3   ESTADO      28397 non-null  object
 4   MUNICIPIO   28397 non-null  object
 5   AREAHA      28397 non-null  float64
 6   ANODETEC    28397 non-null  float64
 7   DATADETEC   28397 non-null  object
 8   DTIMGANT    28397 non-null  object
 9   DTIMGDEP    28397 non-null  object
 10  DTPUBLI     28397 non-null  object
 11  VPRESSAO    28397 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 2.6+ MB

In [ ]:
# Converta todas as colunas de anos para int, por exemplo

df3[['ANODETEC']] = df3[['ANODETEC']].astype(int)

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28397 entries, 0 to 28396
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODEALERTA  28397 non-null  int64
 1   FONTE       28397 non-null  object
 2   BIOMA       28397 non-null  object
 3   ESTADO      28397 non-null  object
 4   MUNICIPIO   28397 non-null  object
 5   AREAHA      28397 non-null  float64
 6   ANODETEC    28397 non-null  int64
 7   DATADETEC   28397 non-null  object
 8   DTIMGANT    28397 non-null  object
 9   DTIMGDEP    28397 non-null  object
 10  DTPUBLI     28397 non-null  object
 11  VPRESSAO    28397 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.6+ MB

In [ ]:
# Remover múltiplas colunas de uma vez, temos que deixar municipio, area ha (pra calcular o desmatamento, data tec e ano)

colunas_para_remover = ['CODEALERTA', 'FONTE', 'ESTADO', 'DTIMGANT', 'DTIMGDEP', 'DTPUBLI', 'VPRESSAO']

df3_limpo = df3.drop(columns=colunas_para_remover)

print(df3_limpo.head())

      BIOMA      MUNICIPIO  AREAHA  ANODETEC   DATADETEC
0  Caatinga           Iaçu    2.96      2024  2024/01/01
1  Caatinga  Miguel Calmon    1.69      2024  2024/01/01
2  Caatinga     Buritirama    2.05      2024  2024/01/01
3  Caatinga          Piatã    0.69      2024  2024/01/01
4  Caatinga       Cotegipe   23.97      2024  2024/01/01

In [ ]:

print(df3_limpo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28397 entries, 0 to 28396
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BIOMA      28397 non-null  object
 1   MUNICIPIO  28397 non-null  object
 2   AREAHA     28397 non-null  float64
 3   ANODETEC   28397 non-null  int64
 4   DATADETEC  28397 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.1+ MB
None

In [ ]:
# Verificar se tem valores faltantes

print(df3_limpo.isnull().sum())

BIOMA        0
MUNICIPIO    0
AREAHA       0
ANODETEC     0
DATADETEC    0
dtype: int64

In [ ]:
df3_MUN = df3_limpo.groupby('MUNICIPIO')['AREAHA'].sum().reset_index()

# Mostrar o resultado
print(df3_MUN.head())

df3_ANO = df3_limpo.groupby('ANODETEC')['AREAHA'].sum().reset_index()

# Mostrar o resultado
print(df3_ANO.head())

   MUNICIPIO  AREAHA
0      Abaré   22.43
1     Abaíra   69.20
2  Acajutiba  127.70
3   Adustina  482.47
4    Aiquara  175.27
   ANODETEC     AREAHA
0      2019   64554.41
1      2020  113073.16
2      2021  154250.73
3      2022  227779.90
4      2023  290593.00

In [ ]:
# Salvando o arquivo final em um novo CSV

df3_limpo.to_csv('desmatamento.csv', index=False)

print(df3_limpo)

          BIOMA        MUNICIPIO  AREAHA  ANODETEC   DATADETEC
0      Caatinga             Iaçu    2.96      2024  2024/01/01
1      Caatinga    Miguel Calmon    1.69      2024  2024/01/01
2      Caatinga       Buritirama    2.05      2024  2024/01/01
3      Caatinga            Piatã    0.69      2024  2024/01/01
4      Caatinga         Cotegipe   23.97      2024  2024/01/01
...         ...              ...     ...       ...         ...
28392  Caatinga          Guajeru    1.47      2024  2024/01/01
28393  Caatinga       Filadélfia    1.56      2024  2024/01/01
28394  Caatinga        Itaberaba   54.26      2024  2024/01/01
28395  Caatinga  Barra da Estiva    7.11      2024  2024/01/01
28396  Caatinga   Várzea da Roça    2.37      2024  2024/01/01

[28397 rows x 5 columns]